## Pokemon TCG Price Trends Analysis 
This project involves in collecting and analyzing of Pokemon card price data to identify trends, fluctations and other factors effecting card value.

## Project Goals
- Gather Pokemon TCG card data from a public dataset 
- Analyze price trends over time for different rarities, sets, and card conditions
- Visualize how factors like set, rarity, and card condition influence price
- Use basic statistical methods to find insights (e.g., average price changes over time)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

For this project we will utilize the Pokemon Trading Cards public dataset on kaggle: https://www.kaggle.com/datasets/jacklacey/pokemon-trading-cards/data 

We will view the first couple of rows and use this dataset to clean it of any inconsistencies and/or null values

In [24]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("pokemon_cards.csv", encoding='latin1')
df.rename(columns={"Price Â£": "Price"}, inplace=True)

# Show the first 5 rows of dataset
df.head()

    Pokemon     Card Type Generation Card Number  Price
0  AMPHAROS  REVERSE HOLO  AQUAPOLIS  001 OF 147   2.95
1  AMPHAROS      STANDARD  AQUAPOLIS  001 OF 147   2.50
2  ARCANINE  REVERSE HOLO  AQUAPOLIS  002 OF 147   3.95
3  ARCANINE      STANDARD  AQUAPOLIS  002 OF 147   2.95
4   ARIADOS  REVERSE HOLO  AQUAPOLIS  003 OF 147   2.50

In [ ]:
# Check to see if there are any null values in the dataset
null_values = df.isnull()
print(null_values.sum())

Pokemon        0
Card Type      0
Generation     0
Card Number    0
Price          0
dtype: int64